body {
  color: deeppink;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

#cabecera {
  background: #33a;
  box-shadow: 0px 5px 10px 0px royalblue;
  color: aliceblue;
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
}

#cabecera #tagline {
  padding: 0 0 0 1em;
  font-weight: normal;
  font-size: 0.5em;
}

#container {
  width: 70%;
  padding: 1em;
  text-align: left;
  border: 1px dashed black ;
  margin: 0 auto;
}


#container h1 {
  font-size: 20px;

}

#post h2 {
  background: #33a;
}

#post #parrafos {
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
  
}









#caida_diseño {
  background: rgb(13, 221, 82);
  box-shadow: 0px 5px 10px 0px greenyellow;
  color: rgb(6, 66, 117);
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
}

#caida_diseño #tunitas {
  padding: 0 0 0 1em;
  font-weight: normal;
  font-size: 1em;
  font-family:fantasy;

}


#footers {
  background: rgb(133, 123, 123);
  color: white;
  text-align: center;
  padding: 15px;
  border: 4px dashed turquoise;
}














